body{
  background: linear-gradient(-90deg,#8d6b9f,lightgrey);
  text-align: center;
}

.todo{
  font-size: 40px;
  color:white;
  font-weight: bold;
}

.container{
 
  font-size: 15px;
  color:white
}

.input-text{
  margin-top: 10px;
  width:19rem;
  height:2rem;
  background: white;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: grey;
  font-size: 15px;
}

.add-btn{
  width:10rem;
  height: 2rem;
  font-size:15px;
  margin-top: 10px;
  background: transparent;
  border: 2px solid white;
  color:white;
}

.add-btn:hover{
  background: #8d6b9f;
  transform: scale(1.5,1.5);
  transition: transform 1s;
  margin-top:10px;
}

.delete-btn{
  width:5rem;
  height: 2rem;
  background: red;
  color: white;
  margin-left: 10px;
}